In [8]:
# importing necessary packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import chardet
import warnings
warnings.filterwarnings('ignore')

In [13]:
# Reading csv file
df223=pd.read_csv('loan.csv')

In [15]:
# displaying info of the data given
df223.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [25]:
# checking null values 
df223.acc_open_past_24mths.isnull().sum()

39717

In [26]:
# dropping acc_open_past_24mths column as it has null values
df223.drop('acc_open_past_24mths',axis=1,inplace=True)

In [ ]:
# dropping annual_inc_joint column as it has null values
df223.drop('annual_inc_joint',axis=1,inplace=True)

In [27]:

df223.chargeoff_within_12_mths.isnull().sum()

56

In [28]:
df223.chargeoff_within_12_mths

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
39712    NaN
39713    NaN
39714    NaN
39715    NaN
39716    NaN
Name: chargeoff_within_12_mths, Length: 39717, dtype: float64

In [29]:
#checking for null values
df223.delinq_2yrs.isnull().sum()

0

In [30]:
# checking for null values
df223.delinq_2yrs

0        0
1        0
2        0
3        0
4        0
        ..
39712    0
39713    1
39714    0
39715    0
39716    1
Name: delinq_2yrs, Length: 39717, dtype: int64

In [33]:
# checking for null values
df223.delinq_amnt.isnull().sum()

0

In [36]:
# checking for null values
df223.loan_amnt.isnull().sum()

0

In [37]:
df223

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Removing % in int_rate column
df223.int_rate=df223.int_rate.apply(lambda x: x.replace('%',''))

In [45]:
# chaning data type from float to string
df223.emp_length=df223.emp_length.astype("str")

In [46]:
# Removing years in emp_lenght column
df223.emp_length=df223.emp_length.apply(lambda x: x.replace('years',''))

In [48]:
# Removing year in emp_lenght column
df223.emp_length=df223.emp_length.apply(lambda x: x.replace('year',''))

In [49]:
# Removing < in emp_lenght column
df223.emp_length=df223.emp_length.apply(lambda x: x.replace('<',''))

In [50]:
# Removing + in emp_lenght column
df223.emp_length=df223.emp_length.apply(lambda x: x.replace('+',''))

In [51]:
df223.emp_length

0        10
1         1
2        10
3        10
4         1
        ...
39712     4
39713     3
39714     1
39715     1
39716     1
Name: emp_length, Length: 39717, dtype: object